span {
  font-weight: 800;
}
.logo {
  color: #f0f0f0;
}

.navbar {
  background-color: #15004f;
  color: white;
  border-radius: 10px;
  padding: 15px 30px;
}
.form-btn {
  background-color: #15004f;
  color: white;
  border-radius: 5%;
  padding: 5px 20px;
}
.nav-bar {
  margin: 3.5% 14%;
}

.navbar-btn {
  margin-left: 10px;
  margin-right: 10px;
}
/* Home Section */
#home {
  padding-top: 8%;
  padding-left: 14%;
  padding-right: 14%;
  padding-bottom: 14%;
}

.h6 {
  color: #7f8487;
  padding: 2.2% 0%;
}

.h1-bold {
  color: #150050;
  font-weight: 800;
}

.h1 {
  color: #150050;
  padding-right: 32%;
  padding-bottom: 8%;
}

.h5 {
  color: #150050;
  padding: 6% 0%;
}

.first-image {
  border-radius: 5%;

  height: 500px;
  width: 600px;
}

.col {
  margin: 20px 0 20px 0;
}

/* working section */

#working {
  padding: 1.5% 14%;
}

.working-heading {
  text-align: center;
  margin: 7.7% 0%;
}

.working-button {
  text-align: center;
}

.working-first-btn {
  margin: 3% 1% 3% 0%;
  padding-left: 30px;
}
.working-second-btn {
  margin: 3% 0% 3% 1%;
}

/* features section */

#features {
  padding: 3.5% 14%;
}

.features-heading {
  text-align: center;
  margin: 5% 0%;
}

.features-brand {
  color: #7f8487;
}

.features-subheading {
  font-weight: 500;
  margin: 3% 0%;
}

.features-btn {
  margin-top: 6%;
}

/* hotel-owner section */

#hotel-owner {
  padding: 5.5% 14%;
  background-color: #150050;
}

.working-content {
  text-align: center;
  font-size: 1.5rem;
}

.working-image {
  margin: 10px 110px;
}

.hotel-owner-h1 {
  font-weight: lighter;
  color: white;
}

.hotel-owner-h1-bold {
  font-weight: 800;
  color: white;
}

.hotel-owner-h5 {
  color: #7f8487;
  margin-top: 20px;
  margin-bottom: 50px;
}

.hotel-owner-h6 {
  color: #7f8487;
  font-size: 0.8rem;
  /* margin: 20px 0px; */
}

.hotel-owner-btn {
  margin: 30px 0px;
}

.icon {
  color: orange;
}

/* pricing section */
.pricing-heading {
  text-align: center;
  margin-top: 100px;
  font-weight: bold;
}
#pricing {
  margin: 1.5% 14%;
}

.first-pricing {
  margin: 1.4% 3%;
  border-radius: 5%;
  padding: 10% 4%;
  border-color: inherit;
  box-shadow: 2px 5px #7f8487;
}

.pricing-btn {
  margin: 10px 120px;
}

.pricing-days {
  margin: 4% 0%;
  text-align: center;
}
.pricing-money {
  margin: 10% 0%;
  text-align: center;
}

/* FAQ section */
#faq {
  background-color: #f9f9f9;
  padding: 3.5% 14% 5% 14%;
}

.faq-heading {
  font-weight: 700;
  margin-top: 7.8%;
  margin-bottom: 5%;
  text-align: center;
}

.faq-question {
  font-weight: 600;
  font-size: 1.2rem;
}

.faq-answer {
  font-weight: 300;
  font-size: 1rem;
}

.faq-content {
  margin: 6% 3%;
}

/* sign-up section */

#sign-up {
  padding: 5% 14%;
}

.sign-up-heading {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 7%;
}

.sign-up-col {
  padding-right: 40%;
  font-weight: 300;
  font-size: 2rem;
}

.signup-signin {
  font-size: 1rem;
  margin: 4% 0%;
  color: blue;
  font-weight: 200;
}

/* last-section  */
#last-section {
  background-color: #181818;
  color: white;
  padding: 5.5% 14%;
  font-weight: 100;
  font-size: 0.7rem;
}

.last-section-brand {
  margin-bottom: 6%;
}

.last-section-first-hr {
  width: 10%;
  border-style: dashed;
  height: 2px;
}

.last-section-email {
  margin: 4% 0%;
}

.last-section-address {
  margin: 40px 0px;
}
.founder {
  color: #f73d93;
  font-weight: 400;
  font-style: oblique;
  font-size: 1rem;
}
